@utility grid-page-split {
  display: flex;
  flex-direction: column-reverse;
  /* grid-template-columns: 1fr; */
  /* min-height: calc(100vh - 5rem); */

  @media (width >= theme(--breakpoint-md)) {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 1.25em;
    padding: 0 1.25em;
    align-content: start;
    height: 100vh;
    min-height: 0;
    & > * {
      min-width: 0; /* prevents grid items from overflowing their track */
      overflow-x: hidden;
    }
  }
}

#account-transaction-container {
  display: grid;
  padding: 1rem 0.1rem;
  gap: 0.5rem;
  grid-column-gap: 1.5rem;
  grid-template-columns: auto 1fr auto auto
}
